# WEB SCRAPING - GAME OF THRONES characters

### OBJECTIVE:
Extracting an online list of 'game of thrones' characters into a csv file

In [2]:
# IMPORTING LIBRARIES

#Selenium is used for web-automation purposes
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

import time
import pandas as pd
import numpy as np

In [3]:
driver = webdriver.Chrome()
characters_url = "https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_characters"
driver.get(characters_url)


# time.sleep(2)
# driver.find_element(By.XPATH, "//div[text()='ACCETTA TUTTI']").click()

In [3]:
# Iterate over the wikipedia table and add elements contained in cells in the t_characters list
got_characters_elem = driver.find_elements(By.XPATH, '//table[@class = "wikitable col1left col2left sortable jquery-tablesorter"]/tbody/tr/td[2]')
got_characters = [character.text for character in got_characters_elem]

In [23]:
# Some characters in the wikipedia table are found as "firstName 'Alias' surname"
# so i split the complete name adding aliasses to a different column
aliases = []
character_names = []
for character in got_characters:
    if character.find('"') != -1:
        aliases.append(character[character.find('"')+1:character.rfind('"')])
        character.replace('"', '')
        character_names.append(character[:character.find('"')] + character[character.rfind('"')+1:])
    else:
        character_names.append(character)
        aliases.append(np.nan)


data = {'Name': character_names, 'Alias': aliases}
df = pd.DataFrame(data = data)
df

                  Name         Alias
0        Eddard  Stark           Ned
1     Robert Baratheon           NaN
2      Jaime Lannister           NaN
3        Catelyn Stark           NaN
4     Cersei Lannister           NaN
5   Daenerys Targaryen           NaN
6        Jorah Mormont           NaN
7    Viserys Targaryen           NaN
8             Jon Snow           NaN
9           Robb Stark           NaN
10         Sansa Stark           NaN
11          Arya Stark           NaN
12       Theon Greyjoy           NaN
13          Bran Stark           NaN
14   Joffrey Baratheon           NaN
15     Sandor  Clegane     The Hound
16    Tyrion Lannister           NaN
17          Khal Drogo           NaN
18      Petyr  Baelish  Littlefinger
19      Davos Seaworth           NaN
20       Samwell Tarly           NaN
21   Stannis Baratheon           NaN
22          Melisandre           NaN
23        Jeor Mormont           NaN
24               Bronn           NaN
25               Varys           NaN
26                Shae           NaN
27     Margaery Tyrell           NaN
28     Tywin Lannister           NaN
29       Talisa Maegyr           NaN
30             Ygritte           NaN
31              Gendry           NaN
32  Tormund Giantsbane           NaN
33    Brienne of Tarth           NaN
34       Ramsay Bolton           NaN
35               Gilly           NaN
36      Daario Naharis           NaN
37           Missandei           NaN
38    Tommen Baratheon           NaN
39        Ellaria Sand           NaN
40        Jaqen H'ghar           NaN
41        Roose Bolton           NaN
42    The High Sparrow           NaN
43           Grey Worm           NaN

In [16]:
# Save the dataframe to a csv file
df.to_csv('character_list.csv', header='true', index = False)